@model MIS333K_Team11_FinalProjectV2.Models.Showing
@using MIS333K_Team11_FinalProjectV2.Models

@{


    ViewBag.Title = "Showing Details";
}

<h2>Details</h2>

<div>
    <h4>Showing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SponsoringMovie.MovieNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.MovieNumber)
        </dd>
        <dt>
            Showing Movie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theatre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theatre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SponsoringMovie.MovieOverview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.MovieOverview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SponsoringMovie.Tagline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.Tagline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SponsoringMovie.MPAAratings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.MPAAratings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SponsoringMovie.Actor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.Actor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SponsoringMovie.MovieRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.MovieRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SponsoringMovie.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.ReleaseDate)
        </dd>


        <dt>
            Running Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SponsoringMovie.RunningTime)
        </dd>


    </dl>
</div>

<div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Genre(s)</th>
        </tr>
        @foreach (Genre gen in Model.SponsoringMovie.Genres)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => gen.GenreName)</td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShowingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
