@model MIS333K_Team11_FinalProjectV2.Models.Order

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*@using (Html.BeginForm())
        {
            @Html.CheckBoxFor(model => model.Gift)
            <br />
            @Html.TextBoxFor(model => model.GiftEmail)
            <br />

        }

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            $(function () {
                $("#Gift").click(function () {
                    if ($(this).is(':checked')) {
                        $("#GiftEmail").show();
                    }
                    else {
                        $("#GiftEmail").hide();
                    }
                });
            });
        </script>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.Gift, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Gift)
                @Html.ValidationMessageFor(model => model.Gift, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiftEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="textbox">
                @Html.EditorFor(model => model.GiftEmail)
                @Html.ValidationMessageFor(model => model.GiftEmail, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@

    @*<div class="form-group">
        <label class="control-label col-md-2">Select a movie:</label>
        <div class="col-md-10">
            @Html.DropDownList("SelectedShowing", (SelectList)ViewBag.AllShowings, new { @class = "form-control" })
        </div>
    </div>*@




    @*<div class="form-group">
            @Html.LabelFor(model => model.OrderNotes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.OrderNotes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderNotes, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Start Order" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>