@model MIS333K_Team11_FinalProjectV2.Models.Order
@using MIS333K_Team11_FinalProjectV2.Models

@{
    ViewBag.Title = "Orders";
}

<h2>Continue Adding to Orders</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

    </dl>
</div>

<h4>Showings</h4>
<table class="table table-sm table-striped table-hover">
    <tr>
        <th>Showing Name</th>
        <th>Date and Time</th>
        <th>Ticket Seat</th>
        <th>Total Price</th>
    </tr>
    @foreach (Ticket td in Model.Tickets)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => td.Showing.SponsoringMovie.MovieTitle)</td>
            <td>@Html.DisplayFor(modelItem => td.Showing.ShowDate)</td>
            <td>@Html.DisplayFor(modelItem => td.TicketSeat)</td>
            <td>@Html.DisplayFor(modelItem => td.TicketPrice)</td>
        </tr>
    }
</table>

<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SeniorDiscount)</td>
        <td>@Html.DisplayFor(model => model.SeniorDiscount)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.EarlyDiscount)</td>
        <td>@Html.DisplayFor(model => model.EarlyDiscount)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.OrderSubtotal)</td>
        <td>@Html.DisplayFor(model => model.OrderSubtotal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SalesTax)</td>
        <td>@Html.DisplayFor(model => model.SalesTax)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.OrderTotal)</td>
        <td>@Html.DisplayFor(model => model.OrderTotal)</td>
    </tr>

</table>

<div>
    @Html.ActionLink("Add Another Showing", "AddShowing", new { OrderID = Model.OrderID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit Existing Order", "RemoveFromOrder", new { OrderID = Model.OrderID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Check Out", "Gift", new { OrderID = Model.OrderID }, new { @class = "btn btn-primary" })
</div>