@model IEnumerable<MIS333K_Team11_FinalProjectV2.Models.Order>
@using MIS333K_Team11_FinalProjectV2.Models

@{
    ViewBag.Title = "Orders";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Start New Order", "Create", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Search By Order Status", "StatusSearch", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Reports", "Reports", null, new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        @*<th>
           Movies
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orderstatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orderstatus)
        </td>

        @if (item.Orderstatus == OrderStatus.Completed)
        {
            <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID })
            @Html.ActionLink("Details", "Details", new { id = item.OrderID })
            @Html.ActionLink("Cancel", "Delete", new { id = item.OrderID })
            </td>
        }

        @if (item.Orderstatus == OrderStatus.Cancelled)
        {
            <td> 
            @Html.ActionLink("Details", "Details", new { id = item.OrderID })
            </td>
        }

        @if (item.Orderstatus == OrderStatus.Pending)
        {
            <td>
            @Html.ActionLink("Continue", "Edit", new { id = item.OrderID })
            @Html.ActionLink("Details", "Details", new { id = item.OrderID })
            @Html.ActionLink("Cancel", "Delete", new { id = item.OrderID })
            </td>
        }


    </tr>
    }


</table>

